header {
	animation: glow 5s infinite linear;
	text-align: center;
	margin: 0px;
	padding: 20px;
	font-size: 50px;
}
.nixie {
	color: rgb(25, 187, 213);
	font-family: Nixie One;
}
.pulse { 
	animation: glow 20s infinite linear;
}

@keyframes glow {
	0% {background-color: #12273b;}
	50% {background-color: black;}
	100% {background-color: #12273b;}
}

body {
	margin :0px;
	background-image: url("/images/one.svg");
	background-repeat: repeat;
}
